[Unit]
Description=Metrics collector

[Service]
ExecStart=/home/vagrant/node_exporter/node_exporter --web.config /home/vagrant/node_exporter/node_exporter.conf

[Install]
WantedBy=multi-user.target