[Unit]
Description=Metrics collector

[Service]
EnvironmentFile=-./nodeexporter.conf
ExecStart=/home/vagrant/node_exporter/node_exporter -f $EXTRA_OPTS
[Install]
WantedBy=multi-user.target